.page-tabs {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    box-sizing: border-box;
    
    background-color: #000;
}

.page-tabs__tab {
    padding: 1rem;
    box-sizing: border-box;
}

.section--visibility-hidden {
    /*display: none;*/
    visibility: hidden;
}

.section--visibility-visible {
    /*display: block;*/
    visibility: visible;
}